{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapitalCompass</title>
    <link rel="stylesheet" href="{% static 'styles/HomeStyles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/authentications.css' %}">
  </head>
  <body>
    <header>
      <div class="logo">CapitalCompass</div>
      <nav>
          <ul class="nav-left">
            <li><a href="{% url 'financeapp:index' %}">Home</a></li>
            <li><a href="{% url 'financeapp:about' %}">About us</a></li>
              <li><a href="#">Share us</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
            <ul class="nav-right">
              <li class="auth"><a href="{% url 'auth_login' %}">Login</a></li> 
              <li class="auth"><a href="{% url 'registration_register' %}">Sign up</a></li> 
          </ul>
      </nav>
  </header>

  <div class="container">
    <div class="form-login-container">
      <div class="login-header">
        <h2>Login Here</h2>
        <p>New to CapitalCompass? <a href="{% url 'registration_register' %}">Register here</a></p>
      </div>
      <form method="post" action="{% url 'auth_login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'financeapp:index' %}"> <!-- Redirect to index after login -->
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" name="username" placeholder="Enter username" type="text">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" placeholder="Enter password" type="password">
        </div>
        <div class="form-group submit-btn">
          <button type="submit">Login here</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>