{% extends 'financeapp/base.html' %}
{% load static %}
{% block title_block %}Password Reset Sent{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/activation.css' %}">
{% endblock %}

{% block body_block %}

<div class="registration-complete-container">
    <h2>Password Reset Sent</h2>
    <p>If an account exists with the email you entered, you will receive an email with instructions on how to reset your password. Please check your inbox.</p>
    <p>If you do not see the email in your inbox, please check your spam or junk mail folder.</p>
    <p>If you have any questions, please <a href="{% url 'financeapp:contact' %}">contact us</a>.</p>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}