{% extends 'financeapp/base.html' %}
{% load static %}
{% block title_block %}Reset your Password {% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/authentications.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="form-container">
  <h2>Reset Your Password</h2>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group submit-btn">
        <button type="submit" class="btn btn-primary">Reset my password</button>
    </div>
      
  </form>
  </div>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}