{% extends 'financeapp/base.html' %}
{% load static %}
{% block title_block %}Password Reset Complete{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/authentications.css' %}">
{% endblock %}

{% block body_block %}
<div class="form-container">
    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset. You may now <a href="{% url 'auth_login' %}">log in</a> with your new password.</p>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}