{% extends 'financeapp/base.html' %}
{% load static %}
{% block title_block %} About us {% endblock %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block body_block %}
<section class="introduction">
    <h1>Welcome to CapitalCompass</h1>
    <p>Welcome to CapitalCompass, your trusted partner in financial management. Our goal is to empower individuals and businesses to take control of their finances through innovative tools and insightful resources. Explore our story, meet our team, and discover how we can help you achieve financial success.</p>
</section>
<section class="history">
    <h2>Our Journey</h2>
    <p>Founded in August 2024, CapitalCompass aims to make personal finance management easy for everyone. We're dedicated to helping users track spending, set budgets, and achieve financial goals. Our focus is on innovation, dedication, and incorporating user feedback. We're excited about the future and committed to continuously improving our platform.</p>
</section>
<section class="mission">
    <h2>Our Mission</h2>
    <p>At CapitalCompass, our mission is to provide our users with the tools and knowledge they need to make informed financial decisions. We believe that financial literacy is key to personal and professional success, and we are committed to creating solutions that simplify financial management. Our platform is designed to be user-friendly, comprehensive, and accessible to all.</p>
</section>
<section class="team">
    <h2>Meet Our Team</h2>
    <div class="team-member">
        <h3>Nduka Ofoeyeno</h3>
        <p>Founder and Developer</p>
        <p>As an MSc Software Development student at the University of Glasgow, Nduka combines his knowledge of software engineering and finance to develop innovative tools that help users manage their personal finances effectively.</p>
    </div>
</section>
<section class="contact-infomation">
    <h2>Get in Touch</h2>
    <p>We would love to hear from you! Whether you have questions about our platform, need support, or just want to say hello, feel free to reach out.</p>
    <p><a href="{% url 'financeapp:contact'%}">Contact us</a></p>
</section>
 {% endblock %}
