{% extends 'financeapp/loggedin_base.html' %}
{% load static %}
{% block title_block %} Accounts - CapitalCompass {% endblock %}

{% block body_block %}
<main>
    <section class="accounts-overview">
        <h1>Accounts Overview</h1>
        <div id="summary">
            <p>Total Balance: £<span id="total-balance">{{ total_balance }}</span></p>
            <p>Total Debt: £<span id="total-debt">{{ total_debt }}</span></p>
            <p>Net Balance: £<span id="net-balance">{{ net_balance }}</span></p>
        </div>

        <button class="btn btn-primary" onclick="location.href='{% url 'financeapp:add_account' %}'"> Add Account </button>

        <ul>
            {% for account in accounts %}
                <li>
                    {{ account.account_name }}: Current Balance: £{{ account.balance }}
                    <form method="get" action="{% url 'financeapp:edit_account' account.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Edit Account</button>
                    </form>
                    <form method="get" action="{% url 'financeapp:delete_account' account.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}

