{% extends 'financeapp/loggedin_base.html' %}
{% load static %}
{% block title_block %} Accounts - CapitalCompass {% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/accounts.css' %}">
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
{% endblock %}

{% block body_block %}
<main>
    <section class="accounts-overview">
        <h1>Accounts Overview</h1>
        <div id="summary">
            <p>Total Balance: £<span id="total-balance">{{ total_balance }}</span></p>
        </div>
        <div class="add-button-class">
             <button class="btn btn-primary" onclick="showAddAccountForm()">Add Account Manually</button>
             <button class="btn btn-primary" id="link-button" onclick="showPlaid()">Link Your Bank Account</button>
        </div>
        <div class="account-list">
            <ul>
                {% for account in accounts %}
                <li class="account-box">
                    <div class="account-header">
                        <div class="account-type">
                            {% if account.plaid_account %} 
                                {{ account.custom_account_type }} 
                            {% else %} 
                                {{ account.account_type }}
                            {% endif %} - 
                            {% if account.plaid_account %}
                                Linked Account 
                                <button class="btn btn-sm btn-outline-secondary" onclick="refreshAccount('{{ account.id }}')">Refresh</button>
                            {% else %}
                                Manually Added
                            {% endif %}
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">⋮</button>
                            <div class="dropdown-content">
                                <form method="get" action="{% url 'financeapp:transactions' %}">
                                    <input type="hidden" name="account_id" value="{{ account.id }}">
                                    <button type="submit">View Transactions</button>
                                </form>
                                <button onclick="showEditAccountForm({{ account.id }}, '{{ account.account_name }}', '{{ account.account_type }}')">Edit</button>
                                {% if not account.plaid_account %}
                                    <button onclick="showAddMoneyForm({{ account.id }})">Add Money</button>
                                {% endif %}
                                <form method="get" action="{% url 'financeapp:delete_account' account.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="account-details">
                        {{ account.account_name }}: Current Balance: £{{ account.balance }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </section>
</main>


<!-- Add Account Modal -->
<div id="add-account-form-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeAddAccountForm()">&times;</span>
        <h2>New Account</h2>
        <form method="post" action="{% url 'financeapp:add_account' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_account_name">Account Name:</label>
                <input type="text" name="account_name" id="id_account_name" required>
            </div>
            <div class="form-group">
                <label for="id_balance">Balance:</label>
                <input type="number" name="balance" id="id_balance" required>
            </div>
            <div class="form-group">
                <label for="id_account_type">Account Type:</label>
                <select name="account_type" id="id_account_type">
                    <option value="CHECKING">Checking</option>
                    <option value="SAVINGS">Savings</option>
                    <option value="CASH">Cash</option>
                </select>
            </div>
            <div class="form-group submit-btn">
                <button type="submit" class="btn btn-primary">Add Account</button>
                <button type="button" class="btn btn-secondary" onclick="closeAddAccountForm()">Cancel</button>
            </div>
        </form>
    </div>    
</div>

<!-- Edit Account Modal -->
<div id="edit-account-form" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeEditAccountForm()">&times;</span>
        <h2>Edit Account</h2>
        <form method="post" action="{% url 'financeapp:edit_account' %}">
            {% csrf_token %}
            <input type="hidden" name="account_id" id="edit-account-id">
            <div class="form-group">
                <label for="edit-account-name">Account Name:</label>
                <input type="text" name="account_name" id="edit-account-name" required>
            </div>
            <div class="form-group">
                <label for="edit-account-type">Account Type:</label>
                <select name="account_type" id="edit-account-type">
                    <option value="CHECKING">Checking</option>
                    <option value="SAVINGS">Savings</option>
                    <option value="CASH">Cash</option>
                </select>
            </div>
            <div class="form-group submit-btn">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" onclick="closeEditAccountForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!-- Add Money to Account Modal -->
<div id="add-money-form-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeAddMoneyForm()">&times;</span>
        <h2>Add Money to Account</h2>
        <form method="post" action="{% url 'financeapp:add_money_to_account' %}">
            {% csrf_token %}
            <input type="hidden" name="account_id" id="add-money-account-id">
            <div class="form-group">
                <label for="id_amount">Amount:</label>
                <input type="number" name="amount" id="id_amount" required>
            </div>
            <div class="form-group submit-btn">
                <button type="submit" class="btn btn-primary">Add Money</button>
                <button type="button" class="btn btn-secondary" onclick="closeAddMoneyForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Function to show the Add Account Modal
    function showAddAccountForm() {
        document.getElementById('add-account-form-modal').style.display = 'flex';
    }
    function closeAddAccountForm() {
        document.getElementById('add-account-form-modal').style.display = 'none';
    }

    // Function to show the Edit Account Modal
    function showEditAccountForm(accountId, accountName, accountType) {
        document.getElementById('edit-account-id').value = accountId;
        document.getElementById('edit-account-name').value = accountName;
        document.getElementById('edit-account-type').value = accountType;
        document.getElementById('edit-account-form').style.display = 'flex';
    }
    function closeEditAccountForm() {
        document.getElementById('edit-account-form').style.display = 'none';
    }

    // Function to show the Add Money Modal
    function showAddMoneyForm(accountId) {
        document.getElementById('add-money-account-id').value = accountId;
        document.getElementById('add-money-form-modal').style.display = 'flex';
    }
    function closeAddMoneyForm() {
        document.getElementById('add-money-form-modal').style.display = 'none';
    }

    // Plaid Link integration
    function showPlaid() {
        const handler = Plaid.create({
            token: '{{ link_token }}',
            onSuccess: function(public_token, metadata) {
                // Send the public token to the server
                fetch('/create-and-link-account/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({ public_token: public_token })
                }).then(response => response.json())
                .then(data => {
                    console.log(data); // Add this line
                    if (data.success) {

                        // Reload the page to show the new account
                        location.reload();
                    } else {
                        alert('There was an error linking your account');
                    }
                });
            },
            onExit: function(err, metadata) {
                if (err) {
                    console.error('Link exited with error:', err);
                }
            },
        });
        handler.open();
    }
    // Function to refresh a specific account
function refreshAccount() {
    fetch(`/refresh-account-transaction/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        }
    }).then(response => response.json())
    .then(data => {
        if (data.success) {
            // Reload the page to reflect updated account information
            location.reload();
        } else {
            alert('There was an error refreshing the account.');
        }
    }).catch(error => {
        console.error('Error refreshing account:', error);
        alert('An error occurred while refreshing the account.');
    });
}


    // Initialize modals visibility on page load
    window.onload = function() {
        closeAddAccountForm();
        closeEditAccountForm();
        closeAddMoneyForm();
    }
</script>
{% endblock %}
