{% extends 'financeapp/loggedin_base.html' %}
{% load static %}
{% block title_block %} Budget List - CapitalCompass {% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/budget_list.css' %}">
{% endblock %}

{% block body_block %}
<main>
  <section class="budgets-overview">
      <h1>Your Budgets</h1>
      <div class="budget-cards-container">
          {% for budget in budgets %}
              <div class="budget-card">
                  <div class="budgets-thumbnails">
                      <img class="budget-photos" src="{% static 'images/budget-image.jpg' %}" alt="Budget Icon">
                  </div>
                  <div class="budget-details">
                      <h3>{{ budget.budget_name }}</h3>
                      <p>Last used: {{ budget.updated_at|date:"F j, Y, g:i a" }}</p>
                      <p>Budget Type: {{ budget.budget_type }}</p>
                  </div>
                  <div class="budget-actions">
                    {% if budget.budget_type == 'zero_based' %}
                        <button onclick="location.href='{% url 'financeapp:zero_based_page' budget.id %}'" class="btn btn-primary open-budget">Open</button>
                    {% elif budget.budget_type == 'fifty_thirty_twenty' %}
                        <button onclick="location.href='{% url 'financeapp:fifty_thirty_twenty_page' budget.id %}'" class="btn btn-primary open-budget">Open</button>
                    {% endif %}
                    <button onclick="location.href='{% url 'financeapp:delete_budget' budget.id %}'" class="btn btn-danger">Delete</button>
                </div>
                
              </div>
          {% endfor %}
          <div class="budget-card create-new">
              <div class="budget-icon">
                  <button class="btn btn-primary" onclick="location.href='{% url 'financeapp:create_budget' %}'">Create New Budget</button>
              </div>
          </div>
      </div>
  </section>

  <div style="text-align: center; margin-top: 20px;">
    <a href="https://www.freepik.com/free-ai-image/close-up-money-put-aside-savings_234840089.htm#query=british%20pound%20save&amp;position=16&amp;from_view=keyword&amp;track=ais_hybrid&amp;uuid=37149d0c-549c-4998-a0be-6a57469010f9" target="_blank" referrerpolicy="no-referrer">
        Image by freepik
    </a>
</div>

</main>

{% endblock %}
