{% extends 'financeapp/loggedin_base.html' %}
{% load static %}
{% block title_block %} Budget Overview - CapitalCompass {% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/budget-overview.css' %}">
{% endblock %}

{% block body_block %}
<main>
    <section class="budget-overview">
        <h1 class="overview-title">Budget Overview</h1>
        <div class="overview-intro">
            <p>Welcome to the Budget Overview section of CapitalCompass. This is your central hub for managing and tracking your personal finances. Whether you're just starting to take control of your finances or you're looking to optimize your budgeting strategies, this page has all the tools you need.</p>
            <p>Here, you can <strong>create a new budget</strong> to plan your expenses and savings, or <strong>view your existing budgets</strong> to make adjustments based on your financial goals. Our platform offers various budgeting methods, ensuring you have a system that suits your lifestyle and financial needs.</p>
        </div>
        <section class="budget-explanations">
            <h2 class="section-title">Budgeting Methods Explained</h2>
            <div class="explanation-box zero-based-budget">
                <h3>Zero-Based Budgeting</h3>
                <p>Zero-based budgeting involves allocating every dollar of your income to a specific expense or savings goal until your total income minus total expenses equals zero. This method helps you to account for every dollar you earn, ensuring a thorough and effective management of your finances.</p>
            </div>
            <div class="explanation-box fifty-thirty-twenty-budget">
                <h3>50/30/20 Budgeting</h3>
                <p>The 50/30/20 rule is a straightforward budgeting framework. It suggests allocating 50% of your income to needs, 30% to wants, and 20% to savings and debt repayment. This method provides a balanced approach, allowing you to cover essential expenses, enjoy discretionary spending, and prioritize savings.</p>
            </div>
        </section>
        <div class="budget-chart">
            <h2 class="section-title">Spending and Savings Chart</h2>
            <p>Gain insights into your financial habits with our interactive charts. Visualize your spending patterns and track your savings progress over time. These tools are designed to help you make informed decisions and adjust your budget accordingly.</p>
            <!-- Placeholder for Chart 
            <img src="path-to-your-chart-image.jpg" alt="Chart showing spending and savings">
            -->
        </div>
        <div class="action-buttons">
            <p>Ready to get started? Use the buttons below to manage your budgets:</p>
            <button class="btn btn-primary" onclick="showCreateBudgetForm()">Create New Budget</button>
            <button onclick="location.href='{% url 'financeapp:budget_list' %}'" class="btn btn-secondary">View All Budgets</button>
        </div>   
    </section>
    <div id="create-budget-form" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeCreateBudgetForm()">&times;</span>
            <h2>New Budget</h2>
            <form method="post" action="{% url 'financeapp:create_budget' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_budget_name">Budget Name:</label>
                    <input type="text" name="budget_name" id="id_budget_name" required>
                    {% if form.budget_name.errors %}
                        <div class="error">{{ form.budget_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_budget_type">Budget Type:</label>
                    <select name="budget_type" id="id_budget_type" required>
                        {% for value, label in form.fields.budget_type.choices %}
                            <option value="{{ value }}" {% if form.budget_type.value == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group submit-btn">
                    <button type="submit" class="btn btn-primary">Create Budget</button>
                    <button type="button" class="btn btn-secondary" onclick="closeCreateBudgetForm()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    
</main>

<script>
    function showCreateBudgetForm() {
        document.getElementById('create-budget-form').style.display = 'flex';
    }

    function closeCreateBudgetForm() {
        document.getElementById('create-budget-form').style.display = 'none';
    }

    document.addEventListener('DOMContentLoaded', function () {
        closeCreateBudgetForm();
        // Show the modal if form errors exist
        {% if form.errors %}
            showCreateBudgetForm();
        {% endif %}
    });
</script>
{% endblock %}
