{% extends 'financeapp/loggedin_base.html' %}
{% load static %}
{% block title_block %} Budget Overview - CapitalCompass {% endblock %}

{% block body_block %}
<main>
    <section class="budget-overview">
        
        <h1>Budget Overview</h1>
        <button class="btn btn-primary"onclick="showCreateBudgetForm()">Create Budget</button>
    
        <button onclick="location.href='{% url 'financeapp:budget_list' %}'" class="btn btn-secondary">View Budgets</a>


      <!---->  <div class="budget-chart">
            <!-- Placeholder for Chart 
            <img src="path-to-your-chart-image.jpg" alt="Photo showing a chart">
        </div> -->
    </section>
    <section class="budget-explanations">
        <h2>Budgeting Methods Explained</h2>
        <div class="zero-based-budget">
            <h3>Zero-Based Budgeting</h3>
            <p>Zero-based budgeting involves allocating every dollar of your income to a specific expense or savings goal until your total income minus total expenses equals zero. This method ensures that you account for all of your income and expenses, helping you to manage your money more effectively.</p>
        </div>
        <div class="fifty-thirty-twenty-budget">
            <h3>50/30/20 Budgeting</h3>
            <p>The 50/30/20 rule is a simple budgeting framework that allocates 50% of your income to needs, 30% to wants, and 20% to savings and debt repayment. This method helps you maintain a balanced budget by prioritizing essential expenses while still allowing for discretionary spending and savings.</p>
        </div>
    </section>
</main>
<div id="create-budget-form" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeCreateBudgetForm()">&times;</span>
        <h2>New Budget</h2>
        <form method="post" action="{% url 'financeapp:create_budget' %}">
            {% csrf_token %}
            {{ form.as_p }}
          
            <div class="form-group submit-btn">
                <button type="submit" class="btn btn-primary" onclick="createBudget()">Create Budget</button>
                <button type="button" class="btn btn-secondary" onclick="closeCreateBudgetForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>
    function showCreateBudgetForm() {
        document.getElementById('create-budget-form').style.display = 'flex';
    }

    function closeCreateBudgetForm() {
        document.getElementById('create-budget-form').style.display = 'none';
    }

    function createBudget() {
        // Function to handle creating a budget
        alert('Budget Created!');
    }
     // Ensure modal is closed when the document is loaded
     document.addEventListener('DOMContentLoaded', function () {
        closeCreateBudgetForm();
    });
</script>
{% endblock %}
    

