{% extends 'financeapp/loggedin_base.html' %}
{% load static %}
{% block title_block %} Delete Budget - CapitalCompass {% endblock %}

{% block body_block %}
<main>
    <section class="delete-budget">
        <h1>Delete Budget</h1>
        <p>Are you sure you want to delete the budget "{{ budget.budget_name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group submit-btn">
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" onclick="location.href='{% url 'financeapp:budget_list' %}'" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}
