{% extends 'financeapp/base.html' %}
{% load static %}
{% block title_block %} Homepage {% endblock %}

{% block body_block %}
<section class="hero">
    <div class="hero-content">
        <h1>Take control of your Finances with CapitalCompass</h1>
        <p>Track your spending, track savings, and set financial goals</p>
        <button class="get_started_button" onclick="location.href='{% url 'registration_register' %}'">Get Started Here</button>
        <button onclick="location.href='{% url 'financeapp:about' %}'">Learn More</button>
    </div>
    <div class="hero-image">
       <img src="{% static 'images/application.jpeg' %}" alt="Financial Management"> 
    </div>
</section>

<section class="features">
    <div class="feature">
        <h2>Budget Tracking</h2>
        <p>Your Blueprint to Financial Success</p>
        <button onclick="location.href='{% url 'financeapp:about' %}'">Learn More</button>
    </div>
    <div class="feature">
        <h2>Expense Tracking</h2>
        <p>Know where every pound is spent</p>
        <button onclick="location.href='{% url 'financeapp:about' %}'">Learn More</button>
    </div>
    <div class="feature">
        <h2>Data Visualisation</h2>
        <p>See Your Finances Clearly</p>
        <button onclick="location.href='{% url 'financeapp:about' %}'">Learn More</button>
    </div>
    <div class="feature">
        <h2>Financial Insights</h2>
        <p>Make Informed Decisions</p>
        <button onclick="location.href='{% url 'financeapp:about' %}'">Learn More</button>
    </div>
</section>

<section class="testimonials">
    <h2>Join People Who've Transformed Their Finances</h2>
    <p>Your financial health simplified</p>
    <div class="testimonial">
        <h3>John Doe</h3>
        <p>"CapitalCompass has completely transformed the way I manage my finances. The intuitive interface and insightful analytics have helped me save more and spend wisely."</p>
    </div>
    <div class="testimonial">
        <h3>Jane Smith</h3>
        <p>"I've tried multiple budgeting apps, but none compare to CapitalCompass. It's user-friendly and has all the features I need to track my expenses and plan for the future."</p>
    </div>
    <div class="testimonial">
        <h3>Michael Brown</h3>
        <p>"The financial insights feature is a game-changer. It has provided me with a clear picture of my financial situation and actionable advice to improve my financial health."</p>
    </div>
</section>

<section class="how-it-works">
    <h2>How It Works</h2>
    <ol>
        <li>Sign Up and Link Accounts</li>
        <li>Set Your Budget</li>
        <li>Track and Analyse Spending</li>
    </ol>
    <button onclick="location.href='{% url 'registration_register' %}'">Sign up here</button>
</section>
{% endblock %}
