{% extends 'financeapp/base.html' %}
{% load static %}
{% block title_block %} Homepage {% endblock %}

{% block body_block %}
<section class="hero">
    <div class="hero-content">
        <h1>Take control of your Finances with CapitalCompass</h1>
        <p>Track your spending, track savings, and set financial goals</p>
        <button class="get_started_button" onclick="location.href='{% url 'registration_register' %}'">Get Started Here</button>
    </div>
    <div class="hero-image">
       <img class="index-image"src="{% static 'images/hero.jpg' %}" alt="Hero Image">
    </div>
</section>

<section class="features">
    <div class="feature">
        <div class="feature-card">
            <div class="feature-front front-card1">
                <h2 class="feature-number1">1</h2>
                <h2>Budget Tracking</h2>
                <p>Your Blueprint to Financial Success</p>
                <p class="learn-more">Learn More</p>
            </div>
            <div class="feature-back back-card1">
                <p>Track your spending, set budgets, and manage your finances effectively. Get started today and take control of your financial future!</p>
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="feature-card">
            <div class="feature-front front-card2">
                <h2 class="feature-number2">2</h2>
                <h2>Expense Tracking</h2>
                <p>Know where every pound is spent</p>
                <p class="learn-more">Learn More</p>
            </div>
            <div class="feature-back back-card2">
                <p>Gain insights into your spending habits and make informed decisions. Easily categorise expenses and monitor your cash flow.</p>
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="feature-card c">
            <div class="feature-front front-card3">
                <h2 class="feature-number3">3</h2>
                <h2>Data Visualisation</h2>
                <p>Track, Visualise, and Understand Finances</p>
                <p class="learn-more">Learn More</p>
            </div>
            <div class="feature-back back-card3">
                <p>Visualise your financial data with charts. Understand trends and patterns to make better financial choices.</p>
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="feature-card">
            <div class="feature-front front-card4">
                <h2 class="feature-number4">4</h2>
                <h2>Financial Analysis</h2>
                <p>Make Informed Financial Decisions</p>
                <p class="learn-more">Learn More</p>
            </div>
            <div class="feature-back back-card4">
                <p>Receive intuitive financial analysis. Stay informed and enhance your financial well-being.</p>
            </div>
        </div>
    </div>
</section>


<section class="testimonials">
    <h2>Join People Who've Transformed Their Finances</h2>
    <p>Your financial health simplified</p>
    <div class="testimonial testimonial1">
        <h3>Tracy Awuku</h3>
        <p>"CapitalCompass has completely transformed the way I manage my finances. The intuitive interface and insightful analysis have helped me save more and spend wisely."</p>
    </div>
    <div class="testimonial testimonial2">
        <h3>Kelvin Ofoeyeno</h3>
        <p>" It's user-friendly and has all the features I need to track my expenses and plan for the future."</p>
    </div>
    <div class="testimonial testimonial3">
        <h3>Emmanuel Ekpenyong </h3>
        <p>"The financial analysis feature is a game-changer. It has provided me with a clear picture of my financial situation and provides me the tools to improve my financial health."</p>
    </div>
</section>

<section class="how-it-works">
    <h2>How It Works</h2>
    <div class="step">
        <h3>1. Join for Free</h3>
        <p>Start your journey. No credit card or commitment required.</p>
    </div>
    <div class="step">
        <h3>2. Create Your Financial Plan</h3>
        <p>Add your bank accounts and expenses. Set financial goals and savings targets. Share your plan with family or friends for support.</p>
    </div>
    <div class="step">
        <h3>3. Monitor and Optimise Spending</h3>
        <p>Track your spending habits in real-time. Receive personalised data visualisation and analysis. Adjust your plan to meet changing needs.</p>
    </div>
    <button onclick="location.href='{% url 'registration_register' %}'">Sign up here</button>
</section>

{% endblock %}
