<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %}{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'styles/application.css' %}"> 
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
   <link rel="stylesheet" href="{% static 'styles/transactions.css' %}">
    
</head>
<body>
    <div class="sidebar">
        <div class="logo">CapitalCompass</div>
        <nav>
            <ul class="nav-top">
                <li><a href="{% url 'financeapp:accounts' %}">Accounts</a></li>
                <li><a href="{% url 'financeapp:budget' %}">Budgets</a></li>
                <li><a href="{% url 'financeapp:transactions' %}">Transactions</a></li>
                <li><a href="#">Financial Analysis</a></li>
            </ul>
            <ul class="nav-bottom">
                <li><a href="contactus.html">Contact us </a></li>
                <li><a href="{% url 'financeapp:profile' %}">Profile </a></li>
                <li><a href="{% url 'auth_logout' %}?next={% url 'financeapp:index' %}">Log out</a></li>
            </ul>
        </nav>
    </div>
        {% block body_block %}{% endblock %}   
</body>
</html>
