<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/application.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/transactions.css' %}">
    {% block head_block %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <div id="dynamic-sidebar-content">
            <!-- Default content or loading spinner -->
            <div class="logo">
                   CapitalCompass    
            </div>
        
            <nav>
                <ul class="nav-top">
                    <li><a href="{% url 'financeapp:create_budget' %}">Create Budget</a></li>
                </ul>
            </nav>
        
        </div>
        <nav>
            <ul class="nav-bottom">
                <li><a href="{% url 'financeapp:budget_list' %}">Your Budgets</a></li>
                <li><a href="contactus.html">Contact us</a></li>
                <li><a href="{% url 'financeapp:profile' %}">Profile</a></li>
                <li><a href="{% url 'auth_logout' %}?next={% url 'financeapp:index' %}">Log out</a></li>
            </ul>
        </nav>
    </div>
    {% block body_block %}{% endblock %}
    
    <script>
        function loadSidebarContent(budgetId) {
            $.ajax({
                url: '{% url "financeapp:load_sidebar_content" 0 %}'.replace('0', budgetId),
                type: 'GET',
                success: function(response) {
                    if (response.sidebar_content) {
                        $('#dynamic-sidebar-content').html(response.sidebar_content);
                    } else {
                        console.error('Failed to load sidebar content');
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function loadSelectedBudgetSidebar() {
            var selectedBudgetId = {{ request.session.selected_budget_id|default:"null" }};
            if (selectedBudgetId) {
                loadSidebarContent(selectedBudgetId);
            }
        }

        $(document).ready(function() {
            loadSelectedBudgetSidebar();
            
            $('.open-budget').click(function() {
                var budgetId = $(this).data('budget-id');
                loadSidebarContent(budgetId);
            });
        });
    </script>
</body>
</html>
