{% extends 'financeapp/loggedin_base.html' %}
{% load static %}
{% block title_block %} Zero-Based Budget - CapitalCompass {% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'styles/new_layout.css' %}">
{% endblock %}

{% block body_block %}
<main>
    <section class="zero-based-budget-overview">
        <h1>{{ budget.budget_name }} Zero-Based Budget</h1>
        <div class="{% if money_available >= 0 %}money-positive{% else %}money-negative{% endif %}">
            {% if money_available >= 0 %}
                Available Money: £{{ money_available }} <button class="add-money-positive" onclick="location.href='{% url 'financeapp:add_account' %}'"> Add Money </button>
            {% else %}
                Warning: Negative Balance of £{{ money_available }} <button class="add-money-negative" onclick="location.href='{% url 'financeapp:add_account' %}'"> Add Money </button>
            {% endif %}
        </div>
        <div class="month-navigation">
            <button class="month-button" onclick="location.href='{% url 'financeapp:zero_based_page_with_date' budget.id previous_year previous_month %}'">Previous Month</button>
            <span class="month-year-display">{{ selected_date|date:"F Y" }}</span>
            <button class="month-button" onclick="location.href='{% url 'financeapp:zero_based_page_with_date' budget.id next_year next_month %}'">Next Month</button>
        </div>
    </section>

    <section class="budget-details">  
        <div class="categories-container">
            {% for category in categories %}
            <div class="category-card">
                <div class="category-header">
                    <span class="category-name"><span class="name-category">{{ category.name }}</span><span class="budget"> Budget</span></span>
                    <span class="category-assigned" data-assigned-amount="{{ category.assigned_amount }}" data-expenses-assigned-amount-total="{{ category.expenses_assigned_amount_total }}">
                        <span class="assigned-category">£{{ category.assigned_amount }}</span>
                        <span class="assigned"> Total Money Assigned </span>
                        <span class="warning-message">Alert: Expenses Exceed Budget!</span>
                    </span>
                    <span class="category-activity"><span class="activity-category">£{{ category.activity }}</span><span class="activity"> Money Spent</span></span>
                </div>
                <div class="expenses-list">
                    {% for expense in category.expenses.all %}
                    <div class="expense-item">
                        <span class="expense-description">
                            <span class="description-expense">{{ expense.description }}</span>
                            <span class="expense"> Expense </span>
                        </span>
                        <span class="expense-assigned">
                            <span class="assigned-expense">£{{ expense.assigned_amount }}</span>
                            <span class="cost"> Cost </span>
                        </span>
                        <span class="expense-spent">
                            <span class="spent-container">
                                <span class="spent-paid-container">
                                    <span class="spent-expense">£{{ expense.spent }}</span>
                                    <span class="paid"> Paid </span>
                                </span>
                                <span class="edit-icon" onclick="showEditExpenseForm('{{ expense.id }}', '{{ category.id }}', '{{ expense.description }}', '{{ expense.assigned_amount }}', '{{ expense.spent }}', '{{ category.is_recurring|yesno:'true,false' }}', '{{ expense.is_recurring|yesno:'true,false' }}')" data-is-recurring="{{ expense.is_recurring|yesno:'true,false' }}">
                                    &#9998; <!-- Pencil icon -->
                                </span>
                            </span>
                        </span>
                    </div>
                    {% endfor %}
                </div>
                <div class="category-actions">
                    <button class="action-button" onclick="showEditCategoryForm('{{ category.id }}', '{{ category.name }}', '{{ category.assigned_amount }}', this.getAttribute('data-is-recurring'))" data-is-recurring="{{ category.is_recurring|yesno:'true,false' }}">Edit Category</button>
                    <button class="action-button" onclick="showAddExpenseForm({{ category.id }}, this.getAttribute('data-is-recurring'))" data-is-recurring="{{ category.is_recurring|yesno:'true,false' }}">+ Add Expense</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="add-category-button-container">
            <button class="add-category-button" onclick="showAddCategoryForm()">Create new category</button>
        </div>
    </section>

    <!-- Add Category Modal -->
    <div id="add-category-form" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeAddCategoryForm()">&times;</span>
            <h2>New Category</h2>
            <form method="post" action="{% url 'financeapp:add_zero_category' budget.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Category Name:</label>
                    <input type="text" name="name" id="id_name" required>
                </div>
                <div class="form-group">
                    <label for="id_assigned_amount">Assigned Amount:</label>
                    <input type="number" name="assigned_amount" id="id_assigned_amount" required>
                </div>
                <div class="form-group">
                    <label for="id_is_recurring">Recurring:</label>
                    <input type="checkbox" name="is_recurring" id="id_is_recurring">
                </div>
                <div class="form-group submit-btn">
                    <button type="submit" name="add_category" class="btn btn-primary">Add Category</button>
                    <button type="button" class="btn btn-secondary" onclick="closeAddCategoryForm()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Category Modal -->
    <div id="edit-category-form" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeEditCategoryForm()">&times;</span>
            <h2>Edit Category</h2>
            <form method="post" action="{% url 'financeapp:edit_zero_category' budget.id %}">
                {% csrf_token %}
                <input type="hidden" name="category_id" id="edit-category-id">
                <div class="form-group">
                    <label for="edit-category-name">Category Name:</label>
                    <input type="text" name="name" id="edit-category-name" required>
                </div>
                <div class="form-group">
                    <label for="edit-category-assigned-amount">Assigned Amount:</label>
                    <input type="number" name="assigned_amount" id="edit-category-assigned-amount" required>
                </div>
                <div class="form-group">
                    <label for="edit-category-is_recurring">Recurring:</label>
                    <input type="checkbox" name="is_recurring" id="edit-category-is_recurring">
                </div>
                <div class="form-group submit-btn">
                    <button type="submit" name="edit_category" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-secondary" onclick="closeEditCategoryForm()">Cancel</button>
                </div>
            </form>
            <form method="post" action="{% url 'financeapp:delete_zero_category' budget.id %}">
                {% csrf_token %}
                <input type="hidden" name="category_id" id="delete-category-id">
                <div class="form-group submit-btn">
                    <button type="submit" name="delete_category" class="btn btn-danger">Delete Category</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Add Expense Modal -->
   <!-- Add Expense Modal -->
<div id="add-expense-form" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeAddExpenseForm()">&times;</span>
        <h2>New Expense</h2>
        <form method="post" action="{% url 'financeapp:add_zero_expense' budget.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_description">Expense Description:</label>
                <input type="text" name="description" id="id_description" required>
            </div>
            <div class="form-group">
                <label for="id_assigned_amount">Cost:</label>
                <input type="number" name="assigned_amount" id="id_assigned_amount" required>
            </div>
            <div class="form-group">
                <label for="id_spent">Paid:</label>
                <input type="number" name="spent" id="id_spent" value="0" required>
            </div>
            <input type="hidden" name="category_id" id="expense-category-id">
            <div id="add-expense-recurring-container" style="display: none;">
                <div class="form-group">
                    <label for="id_is_recurring">Recurring:</label>
                    <input type="checkbox" name="is_recurring" id="id_is_recurring">
                </div>
            </div>
            <div class="form-group submit-btn">
                <button type="submit" name="add_expense" class="btn btn-primary">Add Expense</button>
                <button type="button" class="btn btn-secondary" onclick="closeAddExpenseForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>


    <!-- Edit Expense Modal -->
    <div id="edit-expense-form" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeEditExpenseForm()">&times;</span>
            <h2>Edit Expense</h2>
            <form method="post" action="{% url 'financeapp:edit_zero_expense' budget.id %}">
                {% csrf_token %}
                <input type="hidden" name="expense_id" id="edit-expense-id">
                <input type="hidden" name="category_id" id="edit-expense-category-id">
                <input type="hidden" id="edit-is-category-recurring" name="is_category_recurring">
                <div class="form-group">
                    <label for="edit-expense-description">Expense Description:</label>
                    <input type="text" name="description" id="edit-expense-description" required>
                </div>
                <div class="form-group">
                    <label for="edit-expense-assigned">Cost:</label>
                    <input type="number" name="assigned_amount" id="edit-expense-assigned" required>
                </div>
                <div class="form-group">
                    <label for="edit-expense-spent">Paid:</label>
                    <input type="number" name="spent" id="edit-expense-spent" required>
                </div>
                <div class="form-group submit-btn">
                    <button type="submit" name="edit_expense" class="btn btn-primary">Edit Expense</button>
                    <button type="button" class="btn btn-secondary" onclick="closeEditExpenseForm()">Cancel</button>
                </div>
            </form>
            <form method="post" action="{% url 'financeapp:delete_zero_expense' budget.id %}">
                {% csrf_token %}
                <input type="hidden" name="expense_id" id="delete-expense-id">
                <input type="hidden" name="category_id" id="delete-expense-category-id">
                <div class="form-group submit-btn">
                    <button type="submit" name="delete_expense" class="btn btn-danger">Delete Expense</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        /* add category */
        function showAddCategoryForm() {
            document.getElementById('add-category-form').style.display = 'flex';
        }
        function closeAddCategoryForm() {
            document.getElementById('add-category-form').style.display = 'none';
        }

        /* edit category */
        function showEditCategoryForm(categoryId, categoryName, assignedAmount, isRecurring) {
            document.getElementById('edit-category-form').style.display = 'flex';
            document.getElementById('edit-category-id').value = categoryId;
            document.getElementById('edit-category-name').value = categoryName;
            document.getElementById('edit-category-assigned-amount').value = assignedAmount;
            document.getElementById('edit-category-is_recurring').checked = (isRecurring === 'true');
            document.getElementById('delete-category-id').value = categoryId; // Populate delete category ID
        }

        function closeEditCategoryForm() {
            document.getElementById('edit-category-form').style.display = 'none';
        }

        /* add expense form */
        function showAddExpenseForm(categoryId, isCategoryRecurring) {
            console.log("Showing Add Expense Form for Category ID:", categoryId, "Is Category Recurring:", isCategoryRecurring);
            document.getElementById('expense-category-id').value = categoryId;
            document.getElementById('add-expense-form').style.display = 'flex';
            
            var recurringContainer = document.getElementById('add-expense-recurring-container');
            if (isCategoryRecurring === 'true') {
                recurringContainer.style.display = 'block';
                console.log("Displaying Recurring Option for Add Expense");
            } else {
                recurringContainer.style.display = 'none';
                console.log("Hiding Recurring Option for Add Expense");
            }
        }

        function closeAddExpenseForm() {
            document.getElementById('add-expense-form').style.display = 'none';
        }

        function showEditExpenseForm(expenseId, categoryId, expenseDescription, assignedAmount, spentAmount, isCategoryRecurring, isRecurring) {
            console.log("Showing Edit Expense Form for Expense ID:", expenseId, "Category ID:", categoryId, "Is Category Recurring:", isCategoryRecurring);
            document.getElementById('edit-expense-id').value = expenseId;
            document.getElementById('edit-expense-category-id').value = categoryId;
            document.getElementById('edit-expense-description').value = expenseDescription;
            document.getElementById('edit-expense-assigned').value = assignedAmount;
            document.getElementById('edit-expense-spent').value = spentAmount;
            document.getElementById('edit-is-category-recurring').value = isCategoryRecurring;
            document.getElementById('edit-expense-form').style.display = 'flex';
            document.getElementById('delete-expense-category-id').value = categoryId; // Ensure category ID is set
            document.getElementById('delete-expense-id').value = expenseId; // Populate delete expense ID
           
            var recurringContainer = document.getElementById('edit-expense-recurring-container');
            if (isCategoryRecurring === 'true') {
                document.getElementById('edit-is_recurring_expense').checked = (isRecurring === 'true');
                recurringContainer.style.display = 'block';
                console.log("Displaying Recurring Option for Edit Expense");
            } else {
                recurringContainer.style.display = 'none';
                console.log("Hiding Recurring Option for Edit Expense");
            }
        }

        function closeEditExpenseForm() {
            document.getElementById('edit-expense-form').style.display = 'none';
        }

        // Function to update category assigned amount color based on total assigned expenses
        function updateCategoryAssignedColor() {
            const categories = document.querySelectorAll('.category-assigned');
            categories.forEach(category => {
                const assignedAmount = parseFloat(category.getAttribute('data-assigned-amount'));
                const expensesAssignedAmountTotal = parseFloat(category.getAttribute('data-expenses-assigned-amount-total'));
                console.log("Assigned Amount:", assignedAmount, "Expenses Assigned Amount Total:", expensesAssignedAmountTotal);
                if (expensesAssignedAmountTotal > assignedAmount) {
                    category.style.color = 'red';
                    category.querySelector('.warning-message').style.display = 'inline';
                } else {
                    category.style.color = ''; // Reset to default if not exceeded
                    category.querySelector('.warning-message').style.display = 'none';
                }
            });
        }

        // Run the update function on page load
        window.onload = function() {
            closeAddCategoryForm();
            closeEditCategoryForm();
            closeAddExpenseForm();
            closeEditExpenseForm();
            updateCategoryAssignedColor(); // Check and update category assigned amount colors
        }
    </script>
{% endblock %}
