/* Body styles to prevent scrolling */
body {
  
  background-color: #f0f0f0; /* Optional background color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Form container styling */
.form-container {
  width: 400px;
  max-width: 800px; /* Adjust max-width as needed */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Optional: adds rounded corners */
  box-sizing: border-box; /* Ensures padding is included in width */
}

.form-login-container{
  width: 400px;
  max-width: 1000px; /* Adjust max-width as needed */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Optional: adds rounded corners */
  box-sizing: border-box; /* Ensures padding is included in width */
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input field styling */
.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit button styling */
.submit-btn {
  text-align: center;
}

.submit-btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn button:hover {
  background-color: #0056b3;
}
/* Add this to your authentications.css */

.forgot-password {
  text-align: center;
  margin-top: 10px; /* Add some space above the link */
}

.forgot-password a {
  color: #007bff; /* or whatever color you prefer */
  text-decoration: none; /* Remove underline */
}

.forgot-password a:hover {
  text-decoration: underline; /* Add underline on hover */
}

