/* Ensure html and body take up full height and width */
html, body {
  height: 100%;
  width: 70%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  padding-left: 200px; /* Your custom padding */
}

/* Main container styling */
main {
  padding: 20px;
}

.zero-based-budget-overview, .fifty_thirty_twenty_overview {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Section header styling */
.zero-based-budget-overview h1, .fifty_thirty_twenty_overview h1 {
  margin-bottom: 20px;
  text-align: center; /* Center the header text */
  font-size: 40px; /* Your custom font size */
}

.budget-overview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.budget-amount, .budget-activity, .budget-available {
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.budget-amount {
  border-right: 1px solid #ddd;
}

.budget-activity {
  border-right: 1px solid #ddd;
}

.budget-income-label, .budget-activity-label, .budget-available-label {
  display: block;
  font-size: 16px;
  color: #666;
}

.budget-income-value, .budget-activity-value, .budget-available-value {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}


.add-money-container {
  text-align: center;
  margin-bottom: 20px;
}

.add-money-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-money-button:hover {
  background-color: #218838;
}


.positive-value .budget-available-value {
  color: #28a745; /* Green color for positive values */
}

.negative-value .budget-available-value {
  color: #dc3545; /* Red color for negative values */
  position: relative;
}

.warning-icon {
  color: #dc3545;
  margin-left: 10px;
}


.over-budget {
  border: 2px solid #dc3545; /* Red border for over-budget */
  background-color: #f8d7da; /* Light red background */
}







/* Add Category button styling */
.add-category-button {
  display: block; /* Make the button a block-level element */
  margin: 0 auto 20px auto; /* Center horizontally with a bottom margin */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px; /* Your custom margin */
}

.add-category-button:hover, .month-button:hover {
  background-color: #0056b3;
}

/* Categories container styling */
.categories-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Category card styling */
.category-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}



.month-year-display{
  font-size: 30px;
}
.month-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



/* Category header styling */
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-name {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  
}

.category-assigned, .category-available {
  font-size: 1.2em;
  color: #007bff;
  text-align: center;
}

/* Action buttons styling */
.action-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.action-button:hover {
  text-decoration: underline;
}

/* Expenses list styling */
.expenses-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Flex container for expense item */
.expense-item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: white;
border-radius: 5px;
}

/* Expense spent container to position icon inline */
.expense-spent {
display: flex;

}
.spent-container {
display: flex;
align-items: center;
gap: 5px; /* Adjust gap as needed */
}
.spent-paid-container {
display: flex;
flex-direction: column; /* Stack elements vertically */
align-items: flex-start; /* Align items to the start of the flex container */
}

.spent-expense {
margin-right: 5px; /* Space between amount and icon */
}

.edit-icon {
cursor: pointer;
color: #007bff;
font-size: 1.2em; /* Adjust icon size */
}

.edit-icon:hover {
color: #0056b3;
}


.expense-description {
  font-weight: 0.5;
}

.expense-assigned,
.expense-spent,
.expense-available {
  color: #333;
  text-align: left; /* Align text to the left */
}

.submit-btn {
  text-align: center;
}

.submit-btn button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn .btn-primary {
  background-color: #007bff;
  color: white;
}

.submit-btn .btn-primary:hover {
  background-color: #0056b3;
}

.submit-btn .btn-secondary {
  background-color: #6c757d;
  color: white;
}

.submit-btn .btn-secondary:hover {
  background-color: #5a6268;
}

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Close button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.form-group input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
.form-group .checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* Submit buttons
.form-group.submit-btn {
  display: flex;
  justify-content: space-between;
}

.form-group.submit-btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group.submit-btn .btn-primary {
  background-color: #007bff;
  color: white;
}

.form-group.submit-btn .btn-secondary {
  background-color: #6c757d;
  color: white;
}
  */

  /* Flex container for form buttons */
.form-group.submit-btn {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Add spacing between buttons */
}

/* Flex container for delete form buttons */
.submit-btn.delete-group {
  justify-content: flex-end; /* Align delete button to the right */
}

/* Consistent button width */
.submit-btn button {
  flex: 1; /* Make buttons take equal space */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Button styles */
.submit-btn .btn-primary {
  background-color: #007bff;
  color: white;
}

.submit-btn .btn-primary:hover {
  background-color: #0056b3;
}

.submit-btn .btn-secondary {
  background-color: #6c757d;
  color: white;
}

.submit-btn .btn-secondary:hover {
  background-color: #5a6268;
}

.submit-btn .btn-danger {
  background-color: #dc3545;
  color: white;
}

.submit-btn .btn-danger:hover {
  background-color: #c82333;
}



.add-category-button {
display: block; /* Make the button a block-level element */
margin: 0 auto 20px auto; /* Center horizontally with a bottom margin */
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: 20px; /* Your custom margin */
margin-bottom: 20px;
}
.add-category-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px; /* Add margin at the bottom */
}
.category-name {
position: relative;
display: flex;
flex-direction: column; /* To stack the budget below the category name */
align-items: flex-start; /* Align items to the start of the flex container */
}
.name-category, .assigned-category, .activity-category {
font-size: 1.4em;

}

.category-assigned, .category-available, .category-activity{
font-size: 1.2em;
color: black;
display: flex;
flex-direction: column; /* Stack elements vertically */
align-items: flex-start;
font-weight: bold;
}

.expense-description, .expense-assigned, .expense-spent{
display: flex;
flex-direction: column; /* Stack elements vertically */
align-items: flex-start;

}

.category-name .budget, .category-assigned .assigned, .category-activity .activity, .expense-description .expense, .expense-assigned .cost, .expense-spent .paid {
display: inline-block;
padding: 5px; /* Adjust padding for the box */
border-radius: 10px; 
background-color: white; /* Background color */
margin-top: 2px; /* Space between category name and budget logo */
}

.budget {
color: red;
border: 1px solid red; /* Border to create the box effect */
font-size: 0.65em; /* Smaller font size */
}

.assigned {
color: purple;
border: 1px solid purple; /* Border to create the box effect */
font-size: 0.65em; /* Smaller font size */
}

.activity{
color: green;
border: 1px solid green; /* Border to create the box effect */
font-size: 0.65em; /* Smaller font size */
}
.description-expense, .assigned-expense, .spent-expense {
font-weight: 0.5;
font-size: 1.0em;
}


.assigned-expense, .spent-expense {
font-weight: 0.5;
font-size: 1.2em;
}
.expense, .cost, .paid{
font-size: 0.8em; /* Smaller font size */
font-weight: 0.5;
}
.expense{
color: blue;
border: 1px solid blue; /* Border to create the box effect */
}

.cost{
color: red;
border: 1px solid red; /* Border to create the box effect */
}

.paid{
color: green;
border: 1px solid green; /* Border to create the box effect */

}
.category-actions {
display: flex;
gap: 10px;
justify-content: center; /* Align buttons to the right */
margin-top: 10px;/* Add space between expenses and buttons */
}

.warning-message { /* Add custom warning message styling */
  color: red; /* Red text color */
  text-align: center; /* Center text */
  font-size: 0.55em;
  font-style: italic;
}

/* Fully Paid Expense Styling */
.expense-item.paid-in-full {
  background-color: #d4edda; /* Light green background for paid expenses */
  border: 2px solid #28a745; /* Green border */
  color: #155724; /* Dark green text color */
}

/* Adjust text styles for paid expenses */
.expense-item.paid-in-full .description-expense,
.expense-item.paid-in-full .assigned-expense,
.expense-item.paid-in-full .spent-expense {
  font-weight: bold; /* Bold text */
  font-size: 1.1em; /* Slightly larger text */
  color: #155724; /* Dark green text color */
}

/* Style the "Paid" or "Settled" label */
.expense-item.paid-in-full .paid {
  background-color: #28a745; /* Green background */
  color: white; /* White text */
  font-weight: bold; /* Bold text */
  padding: 5px 10px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
  display: inline-block;
}