.budget-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.budget-card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-thumbnails {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.budget-photos{
  width: 200px;
  height: 200px;
}

.budget-details {
  margin: 10px 0;
}

.create-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-new .budget-thumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn-info:hover {
  background-color: #117a8b;
}
