body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  padding-top: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  border-bottom: 1px solid #e9ecef;
  z-index: 1000;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}



nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px;
  background-color: white;
  color: black;
  position: relative; 
}

.hero-content {
  width: 1000px; /* Set max-width as needed for text */
  margin-right: -100px; /* Negative margin to overlap the image's white space */
  z-index: 1; /* Ensure text is on top of the image */
}
.index-image {

  width: 900px;
  height: auto;
  
  margin-right: -120px;
  z-index: 0; /* Ensure image is behind the text */
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-content button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
/*
.hero-image img {
  max-width: 100%;
}*/


.feature {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; /* Add some margin for spacing */
  flex: 1; /* Make the feature take up the same amount of space */
}

.feature h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
  margin-bottom: 10px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: white;
 /* border: 1px solid #e9ecef;*/
}

.feature {
  perspective: 1000px;
}

.feature-card {
  width: 200px;
  height: 300px; /* Set a strict height */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform-origin: center; /* Rotate around the center */
}


.feature-front,
.feature-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
}

.feature-front {
  background-color: #fff;
  transform: rotateX(0deg); /* Initial position */
}

.front-card1{
  border-bottom: 8px solid #007bff; /* Add a blue border */
  border-top: 8px solid #007bff; /* Add a blue border */
  border-radius: 5px;
}

.front-card2{
  border-bottom: 8px solid #28a745; /* Add a green border */
  border-top: 8px solid #28a745; /* Add a green border */
  border-radius: 5px;
}

.front-card3{
  border-bottom: 8px solid #ffc107; /* Add a yellow border */
  border-top: 8px solid #ffc107; /* Add a yellow border */
  border-radius: 5px;
}

.front-card4{
  border-bottom: 8px solid #dc3545; /* Add a red border */
  border-top: 8px solid #dc3545; /* Add a red border */
  border-radius: 5px;
}

.feature-back {
  background-color: #f7f7f7;
  transform: rotateX(180deg);
  border-radius: 5px;
}

.back-card1{
  border: 5px solid #007bff; /* Add a blue border */
 
}
.back-card2{
  border: 5px solid #28a745; /* Add a green border */
  
}
.back-card3{
  border: 5px solid #ffc107; /* Add a yellow border */
  
}
.back-card4{
  border: 5px solid #dc3545; /* Add a red border */
  
}


.feature:hover .feature-card {
  transform: rotateX(180deg);
}


.feature button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}



.feature-front h2:first-of-type{
  /* Add your specific styles for the number "3" here */
  font-size: 36px; /* Example: Increase the font size */
  
  font-weight: bold; /* Example: Make it bold */
  margin-bottom: 10px; /* Example: Add some space below */
  border: none;
  border-radius: 50%;
  
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;

}

.feature-number1{
  border-color: #007bff;
  background-color: #007bff;
}

.feature-number2{
  border-color: #28a745;
  background-color: #28a745;
}

.feature-number3{
  border-color: #ffc107;
  background-color: #ffc107;
}

.feature-number4{
  border-color: #dc3545;
  background-color: #dc3545;
}


.testimonials {
  text-align: center;
  padding: 50px;
  background-color: white;
  /*border: 1px solid #e9ecef; */
}

.testimonials h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonials p {
  font-size: 16px;
  margin-bottom: 20px;
}

.testimonial {
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonial1{
  border-bottom: 8px solid #007bff; /* Add a blue border */
}
.testimonial2{
  border-bottom: 8px solid #28a745; /* Add a green border */
}

.testimonial3{
  border-bottom: 8px solid #ffc107; /* Add a yellow border */
}
.how-it-works {
  text-align: center;
  padding: 50px;
  background-color: white;
  border: 1px solid #e9ecef;
}

.how-it-works h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.how-it-works ol {
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
}

.how-it-works button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Footer Styling */
footer {
  background-color: white; /* Dark background color */
  color: black;
  padding: 20px 0; /* Padding for spacing */
  text-align: center; /* Center-align the text */
  font-size: 14px; /* Slightly smaller font size */
}

footer a {
  color: black; /* Black text color */
  text-decoration: none; /* Remove underline */
  margin: 0 10px; /* Space between links */
}

footer a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
}

footer .footer-content {
  max-width: 1200px; /* Maximum width for the footer content */
  margin: 0 auto; /* Center the content */
  padding: 0 20px; /* Padding for content */
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Wrap items if needed */
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Align items vertically */
}

footer p {
  margin: 5px 0; /* Margin for spacing between elements */
}

footer .social-media-icons {
  display: flex; /* Flex layout for icons */
  justify-content: center; /* Center icons */
  margin-top: 10px; /* Space above social icons */
}

footer .social-media-icons a {
  margin: 0 5px; /* Space between icons */
}

@media (max-width: 600px) {
  footer .footer-content {
      flex-direction: column; /* Stack items vertically on small screens */
      text-align: center; /* Center-align text */
  }

  footer .social-media-icons {
      margin-top: 15px; /* Adjust margin for small screens */
  }
}



.hero-content button,
.feature button,
.how-it-works button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-content button {
  margin-right: 10px;
}

.hero-content button:first-of-type {
  background-color: #28a745; /* Green for Get Started */
  color: white;
}

.hero-content button:first-of-type:hover {
  background-color: #218838; /* Darker green on hover */
}

.hero-content button:last-of-type {
  background-color: #218838; /* Darker green on hover */
  color: white;
}

.hero-content button:last-of-type:hover {
  background-color: #28a745; /* Green for Get Started */
}

.feature button {
  background-color: #6c757d; /* Grey for feature buttons */
  color: white;
}

.feature button:hover {
  background-color: #5a6268; /* Darker grey on hover */
}

.how-it-works button {
  background-color: #ffc107; /* Yellow for How it works button */
  color: black;
}

.how-it-works button:hover {
  background-color: #e0a800; /* Darker yellow on hover */
}



