/* transactions.css */
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; /* Center horizontally */

}

/* Main container styling */
main {

  width: 100%; /* Ensure it doesn't exceed the parent width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Section header styling */
.transaction-details h1 {
  margin-bottom: 10px;
  text-align: center; /* Center the header text */
  font-size: 30px; /* Your custom font size */
}

.add-transaction-class {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Table styling */
table {
  width: 100%; /* Full width */
  margin: 0 auto; /* Center horizontally */
  border-collapse: collapse; /* Collapse borders */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

th, td {
  border: 1px solid #ddd; /* Cell borders */
  text-align: left; /* Align text to the left */
  padding: 10px; /* Increased padding for better readability */
  vertical-align: middle; /* Center text vertically */
}

th {
  background-color: #f7f7f7; /* Light grey for header background */
  font-weight: bold; /* Bold text for headers */
  text-transform: uppercase; /* Uppercase headers */
}

td {
  background-color: #fff; /* White background for cells */
  padding: 12px 15px; /* Additional padding */
}

td:hover{
  background-color: #f1f1f1; /* Light grey for ho */
}
/* Specific width for the date column */
th:nth-child(2), td:nth-child(2) {
  width: 130px; /* Adjusted width for date column */
}

/* Row differentiation for inflow and outflow */
.inflow-row {
  background-color: #e6f7e6; /* Softer green for inflow */
}

.outflow-row {
  background-color: #f7e6e6; /* Softer red for outflow */
}

/* Hover effect to darken the row color */
tr:hover {
  background-color: #f1f1f1; /* Light grey for hover */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  th, td {
    padding: 8px; /* Reduce padding on smaller screens */
    font-size: 14px; /* Smaller font size */
  }

  th:nth-child(2), td:nth-child(2) {
    width: auto; /* Let the date column adjust */
  }
}
