/* transactions.css */
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; /* Center horizontally */

}

/* Main container styling */
main {

  width: 100%; /* Ensure it doesn't exceed the parent width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Section header styling */
.transaction-details h1 {
  margin-bottom: 10px;
  text-align: center; /* Center the header text */
  font-size: 30px; /* Your custom font size */
}

.add-transaction-class {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Table styling */
table {
  width: 100%; /* Make the table take up the full width */
  margin: 0 auto; /* Centers the table horizontally */
  border-collapse: collapse; /* Ensures borders are collapsed */
}

th, td {
  border: 1px solid #ddd; /* Adds borders to table cells */
  text-align: left; /* Aligns text to the left */
  padding: 8px; /* Adds padding to table cells */
}

th {
  background-color: #f2f2f2; /* Adds background color to table headers */
}

/* Specific width for the date column */
th:nth-child(2), td:nth-child(2) {
  width: 150px; /* Adjust this value as needed */
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Adds background color to even rows */
}

tr:hover {
  background-color: #ddd; /* Adds background color to rows on hover */
}
